DifyAgentWorkflow/ai4sec_threat_modeling_workflow.yaml
app:
  description: Standalone VS1 threat-modeling workflow that resolves a report from OpenCTI,
    filters STIX 2.1 evidence, builds a structured TARA+STRIDE JSON result, and
    exposes a session download link.
  icon: 🧭
  icon_background: '#EAF2FF'
  mode: advanced-chat
  name: AI4SEC Threat Modeling Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.1.0
metadata:
  webhook:
    auth_required: false
    entry_mode: dify-native-workflow
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: env-opencti-mcp-url-threat-model
    name: OPENCTI_MCP_URL
    selector:
    - env
    - OPENCTI_MCP_URL
    value: http://host.docker.internal:8101
    value_type: string
  features:
    file_upload:
      enabled: false
    opening_statement: 请输入报告名称或报告 ID，我将按“精确匹配优先、失败后双模糊匹配”完成威胁建模，并提供 JSON 下载链接。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 用报告名称 vs1-payment-threat-model 发起一次威胁建模
    - 用报告 ID report--4eb41da2-0018-4ee9-bd5d-fc8fe82cad11 分析并下载 JSON
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: http-request
      id: edge-start-query-threat-model-report
      source: start_node
      sourceHandle: source
      target: query-threat-model-report
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: edge-query-build-threat-model
      source: query-threat-model-report
      sourceHandle: source
      target: build-threat-model
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: edge-build-threat-model-answer
      source: build-threat-model
      sourceHandle: source
      target: answer-threat-model
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        title: Threat Modeling Input
        type: start
        variables:
        - label: report_ref
          max_length: 256
          required: true
          type: text-input
          variable: report_ref
        - label: analysis_focus
          max_length: 512
          required: false
          type: paragraph
          variable: analysis_focus
      height: 116
      id: start_node
      position:
        x: 30
        y: 120
      positionAbsolute:
        x: 30
        y: 120
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"report_ref":"{{#start_node.report_ref#}}"}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: Query Threat Model Report
        type: http-request
        url: '{{#env.OPENCTI_MCP_URL#}}/query/threat-model-report'
        variables: []
      height: 142
      id: query-threat-model-report
      position:
        x: 340
        y: 108
      positionAbsolute:
        x: 340
        y: 108
      type: custom
      width: 242
    - data:
        code: "import json\nimport urllib.parse\n\ndef _pick_asset_names(objects: list[dict]) -> list[str]:\n    return [str(obj.get(\"name\")) for obj in objects if obj.get(\"type\") in {\"software\", \"infrastructure\", \"identity\"} and obj.get(\"name\")]\n\ndef _build_attack_patterns(objects: list[dict]) -> list[dict]:\n    return [\n        {\n            \"id\": str(obj.get(\"id\")),\n            \"name\": str(obj.get(\"name\") or \"Unknown attack pattern\"),\n            \"description\": str(obj.get(\"description\") or \"Threat pattern derived from OpenCTI report evidence.\"),\n            \"category\": \"application abuse\",\n            \"risk_level\": \"high\",\n            \"likelihood\": \"medium\",\n            \"impact\": \"high\",\n            \"stride\": \"Spoofing/Tampering\",\n            \"kill_chain_phases\": list(obj.get(\"kill_chain_phases\") or []),\n        }\n        for obj in objects\n        if obj.get(\"type\") == \"attack-pattern\"\n    ]\n\ndef _build_course_of_actions(objects: list[dict], attack_patterns: list[dict]) -> list[dict]:\n    mitigates_ids = [pattern.get(\"id\") for pattern in attack_patterns if pattern.get(\"id\")]\n    return [\n        {\n            \"id\": str(obj.get(\"id\")),\n            \"type\": \"course-of-action\",\n            \"name\": str(obj.get(\"name\") or \"Recommended mitigation\"),\n            \"description\": str(obj.get(\"description\") or \"Mitigation derived from OpenCTI control evidence.\"),\n            \"mitigates_attack_pattern_ids\": mitigates_ids,\n        }\n        for obj in objects\n        if obj.get(\"type\") == \"course-of-action\"\n    ]\n\ndef main(response_json: str, analysis_focus: str | None = None) -> dict:\n    # // @ArchitectureID: 1436\n    payload = json.loads(response_json)\n    matched_report = payload.get(\"matched_report\") or {}\n    bundle = payload.get(\"bundle\") or {\"objects\": []}\n    objects = list(bundle.get(\"objects\") or [])\n    report_name = str(matched_report.get(\"report_name\") or \"Unnamed report\")\n    asset_names = _pick_asset_names(objects)\n    attack_patterns = _build_attack_patterns(objects)\n    course_of_actions = _build_course_of_actions(objects, attack_patterns)\n    focus_text = str(analysis_focus or \"\").strip()\n\n    targets = []\n    if attack_patterns:\n        for index, attack_pattern in enumerate(attack_patterns):\n            asset_name = asset_names[index] if index < len(asset_names) else (asset_names[0] if asset_names else report_name)\n            targets.append(\n                {\n                    \"attack_pattern_id\": attack_pattern.get(\"id\"),\n                    \"asset_name\": asset_name,\n                    \"intrinsic_value\": \"high\",\n                    \"intrinsic_value_dimensions\": [\"confidentiality\", \"integrity\", \"availability\"],\n                    \"intrinsic_value_reason\": f\"{asset_name} is directly referenced by report evidence and release-gate context.\",\n                }\n            )\n\n    report_refs = [str(obj.get(\"id\")) for obj in objects if obj.get(\"id\")]\n    simulated_attack_paths = [\n        {\n            \"id\": f\"report-path--{report_name.lower().replace(' ', '-')}\",\n            \"type\": \"report\",\n            \"name\": f\"{report_name} attack path\",\n            \"path_steps\": [\n                \"when exposed interfaces remain reachable, attack-pattern--entry exploits software--payment-gateway, lead to release gate delay.\",\n                \"when delivery pressure bypasses controls, software--payment-gateway communicates with infrastructure--prod-payment-cluster, lead to wider production exposure.\",\n            ],\n            \"object_refs\": report_refs,\n        }\n    ]\n\n    threat_scenarios = [\n        {\n            \"scenario\": f\"{pattern.get('name')} threatens {targets[index].get('asset_name') if index < len(targets) else report_name}\",\n            \"stride\": pattern.get(\"stride\"),\n            \"focus\": focus_text or \"release gate\",\n        }\n        for index, pattern in enumerate(attack_patterns)\n    ]\n    risk_evaluation = [\n        {\n            \"attack_pattern_id\": pattern.get(\"id\"),\n            \"risk_level\": pattern.get(\"risk_level\"),\n            \"recommended_action_count\": len(course_of_actions),\n        }\n        for pattern in attack_patterns\n    ]\n\n    security_goals = [\n        {\n            \"id\": \"security-goal--release-gate\",\n            \"name\": \"Protect release decision integrity\",\n            \"goal_type\": \"release-governance\",\n            \"priority\": \"high\",\n            \"description\": \"Ensure production release decisions depend on verified threat evidence and compensating controls.\",\n        }\n    ]\n    if focus_text:\n        security_goals.append(\n            {\n                \"id\": \"security-goal--analysis-focus\",\n                \"name\": \"Protect declared analysis focus\",\n                \"goal_type\": \"business-context\",\n                \"priority\": \"medium\",\n                \"description\": f\"Keep the threat model aligned to the requested focus area: {focus_text}.\",\n            }\n        )\n\n    analysis = {\n        \"methodology\": \"TARA+STRIDE\",\n        \"attack_patterns\": attack_patterns,\n        \"targets\": targets,\n        \"simulated_attack_paths\": simulated_attack_paths,\n        \"observables\": [],\n        \"course_of_actions\": course_of_actions,\n        \"detection_indicators\": [],\n        \"tara_stride_outputs\": {\n            \"threat_scenarios\": threat_scenarios,\n            \"risk_evaluation\": risk_evaluation,\n        },\n        \"security_goals\": security_goals,\n        \"summary\": {\n            \"total_objects\": len(attack_patterns) + len(targets) + len(simulated_attack_paths) + len(course_of_actions) + len(threat_scenarios) + len(risk_evaluation) + len(security_goals),\n            \"attack_patterns\": len(attack_patterns),\n            \"targets\": len(targets),\n            \"simulated_attack_paths\": len(simulated_attack_paths),\n            \"observables\": 0,\n            \"course_of_actions\": len(course_of_actions),\n            \"detection_indicators\": 0,\n            \"threat_scenarios\": len(threat_scenarios),\n            \"risk_evaluation\": len(risk_evaluation),\n            \"security_goals\": len(security_goals),\n        },\n    }\n\n    analysis_json = json.dumps(analysis, ensure_ascii=False, indent=2)\n    download_uri = \"data:application/json;charset=utf-8,\" + urllib.parse.quote(analysis_json)\n    return {\n        \"report_name\": report_name,\n        \"report_id\": str(matched_report.get(\"report_id\") or \"\"),\n        \"match_strategy\": str(matched_report.get(\"match_strategy\") or \"unknown\"),\n        \"download_filename\": str(payload.get(\"download_filename\") or \"threat-model.json\"),\n        \"analysis_json\": analysis_json,\n        \"download_markdown\": f\"[下载 JSON 结果]({download_uri})\",\n        \"summary_text\": f\"Generated {len(attack_patterns)} attack patterns, {len(course_of_actions)} mitigations, and {len(threat_scenarios)} threat scenarios.\",\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          analysis_json:
            children: null
            type: string
          download_filename:
            children: null
            type: string
          download_markdown:
            children: null
            type: string
          match_strategy:
            children: null
            type: string
          report_id:
            children: null
            type: string
          report_name:
            children: null
            type: string
          summary_text:
            children: null
            type: string
        title: Build Threat Model Result
        type: code
        variables:
        - value_selector:
          - query-threat-model-report
          - body
          variable: response_json
        - value_selector:
          - start_node
          - analysis_focus
          variable: analysis_focus
      height: 52
      id: build-threat-model
      position:
        x: 660
        y: 108
      positionAbsolute:
        x: 660
        y: 108
      type: custom
      width: 242
    - data:
        answer: '已完成 VS1 威胁建模分析。

          - 报告名称：{{#build-threat-model.report_name#}}

          - 报告 ID：{{#build-threat-model.report_id#}}

          - 匹配策略：{{#build-threat-model.match_strategy#}}

          - 下载文件名：{{#build-threat-model.download_filename#}}

          - 摘要：{{#build-threat-model.summary_text#}}

          {{#build-threat-model.download_markdown#}}

          结构化结果如下：

          ```json
          {{#build-threat-model.analysis_json#}}
          ```

          '
        desc: ''
        title: Threat Model Output
        type: answer
        variables: []
      height: 420
      id: answer-threat-model
      position:
        x: 980
        y: 84
      positionAbsolute:
        x: 980
        y: 84
      type: custom
      width: 242
