DifyAgentWorkflow/ai4sec_unified_workflow.yaml
app:
  description: Unified AI4SEC workflow that routes four value-stream scenarios from
    one Dify asset.
  icon: 🤖
  icon_background: '#E7F6EC'
  mode: advanced-chat
  name: AI4SEC Unified Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
metadata:
  webhook:
    auth_required: false
    entry_mode: dify-native-workflow
workflow:
  conversation_variables:
  - description: ''
    id: 4ff6b443-a304-40f9-b6bd-572fbafd7794
    name: selected_flow
    selector:
    - conversation
    - selected_flow
    value: ''
    value_type: string
  - description: ''
    id: a2e3123d-be5f-40ea-98a7-e39ef519036e
    name: routing_reason
    selector:
    - conversation
    - routing_reason
    value: ''
    value_type: string
  environment_variables:
  - description: ''
    id: 3f2de023-7aee-4c3e-9530-eb5c992f311a
    name: OPENCTI_MCP_URL
    selector:
    - env
    - OPENCTI_MCP_URL
    value: http://host.docker.internal:8101
    value_type: string
  - description: ''
    id: 37cb31d9-1781-42d3-9dc4-2d29af5246cb
    name: NOTIFICATION_MCP_URL
    selector:
    - env
    - NOTIFICATION_MCP_URL
    value: http://host.docker.internal:8102
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 请选择业务流程，或直接描述你的安全情报需求，我会自动分流到 VS1/VS2/VS3/VS4。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 帮我做一次发布前威胁建模
    - 分析一条横向移动告警并生成响应动作
    - 评估外部漏洞对企业的影响
    - 生成一条环境感知监控规则
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: if-else
      id: edge-start-router
      source: start-node
      sourceHandle: source
      target: route-intent
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: edge-router-vs1
      source: route-intent
      sourceHandle: vs1
      target: call-vs1
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: edge-router-vs2
      source: route-intent
      sourceHandle: vs2
      target: call-vs2
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: edge-router-vs3
      source: route-intent
      sourceHandle: vs3
      target: call-vs3
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: edge-router-vs4
      source: route-intent
      sourceHandle: vs4
      target: call-vs4
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: edge-vs1-answer
      source: call-vs1
      sourceHandle: source
      target: parse_vs1
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: edge-parse-vs1-answer
      source: parse_vs1
      sourceHandle: source
      target: answer-vs1
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: edge-vs2-answer
      source: call-vs2
      sourceHandle: source
      target: parse_vs2
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: edge-parse-vs2-answer
      source: parse_vs2
      sourceHandle: source
      target: answer-vs2
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: edge-vs3-answer
      source: call-vs3
      sourceHandle: source
      target: parse_vs3
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: edge-parse-vs3-answer
      source: parse_vs3
      sourceHandle: source
      target: answer-vs3
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: edge-vs4-answer
      source: call-vs4
      sourceHandle: source
      target: parse_vs4
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
      id: edge-parse-vs4-answer
      source: parse_vs4
      sourceHandle: source
      target: vs4-manual-review
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: http-request
      id: edge-vs4-review-approved-notify
      source: vs4-manual-review
      sourceHandle: approved
      target: notify-vs4
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: answer
      id: edge-vs4-review-blocked-answer
      source: vs4-manual-review
      sourceHandle: source
      target: answer-vs4-blocked
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: answer
      id: edge-vs4-notify-answer
      source: notify-vs4
      sourceHandle: source
      target: answer-vs4
      targetHandle: target
      type: custom
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: route-intent-false-answer_router_fallback-target
      source: route-intent
      sourceHandle: 'false'
      target: answer_router_fallback
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        title: Unified Entry
        type: start
        variables:
        - label: entry_mode
          max_length: 64
          required: false
          type: text-input
          variable: entry_mode
        - label: user_request
          max_length: 2000
          required: false
          type: paragraph
          variable: user_request
        - label: selected_flow
          options:
          - VS1
          - VS2
          - VS3
          - VS4
          required: false
          type: select
          variable: selected_flow
        - label: manual_review_decision
          options:
          - pending
          - approved
          - rejected
          required: false
          type: select
          variable: manual_review_decision
        - label: notify_primary_recipient
          max_length: 256
          required: false
          type: text-input
          variable: notify_primary_recipient
        - label: opencti_object_id
          max_length: 256
          required: false
          type: text-input
          variable: opencti_object_id
        - label: opencti_object_type
          max_length: 64
          required: false
          type: text-input
          variable: opencti_object_type
      height: 161
      id: start-node
      position:
        x: 30
        y: 105
      positionAbsolute:
        x: 30
        y: 105
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: vs1
          conditions:
          - comparison_operator: '='
            id: vs1-selected-flow
            value: VS1
            varType: string
            variable_selector:
            - start-node
            - selected_flow
          - comparison_operator: contains
            id: vs1-user-request
            value: 威胁建模
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs1-query-launch
            value: 上线前
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs1-model-result
            value: 建模结果
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs1-release-advice
            value: 发布建议
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs1-threat-conclusion
            value: 威胁结论
            varType: string
            variable_selector:
            - start-node
            - sys.query
          logical_operator: or
        - case_id: vs2
          conditions:
          - comparison_operator: '='
            id: vs2-selected-flow
            value: VS2
            varType: string
            variable_selector:
            - start-node
            - selected_flow
          - comparison_operator: contains
            id: vs2-user-request
            value: 响应
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs2-alert
            value: 告警
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs2-lateral-movement
            value: 横向移动
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs2-intake
            value: 任务受理
            varType: string
            variable_selector:
            - start-node
            - sys.query
          logical_operator: or
        - case_id: vs3
          conditions:
          - comparison_operator: '='
            id: vs3-selected-flow
            value: VS3
            varType: string
            variable_selector:
            - start-node
            - selected_flow
          - comparison_operator: contains
            id: vs3-user-request
            value: 漏洞
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs3-impact
            value: 企业影响
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs3-cve
            value: CVE-
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs3-asset-mapping
            value: 映射到内部资产
            varType: string
            variable_selector:
            - start-node
            - sys.query
          logical_operator: or
        - case_id: vs4
          conditions:
          - comparison_operator: '='
            id: vs4-selected-flow
            value: VS4
            varType: string
            variable_selector:
            - start-node
            - selected_flow
          - comparison_operator: contains
            id: vs4-user-request
            value: 监控
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs4-rule
            value: 风险转成环境监控任务
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs4-bola
            value: BOLA
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs4-business-asset
            value: 业务资产
            varType: string
            variable_selector:
            - start-node
            - sys.query
          - comparison_operator: contains
            id: vs4-production-env
            value: 生产环境
            varType: string
            variable_selector:
            - start-node
            - sys.query
          logical_operator: or
        desc: ''
        title: Route By Menu Or Intent
        type: if-else
      height: 658
      id: route-intent
      position:
        x: 379
        y: -56
      positionAbsolute:
        x: 379
        y: -56
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"object_id":"{{#start-node.opencti_object_id#}}","object_type":"{{#start-node.opencti_object_type#}}","projection_profile":"analysis","fields":["risk_object","scene_type","severity","priority","task_status","business_impact","target_roles","primary_asset","deployment_scope","owner_team","business_domain","business_criticality","execution_window"],"include_relationships":true,"relationship_depth":1}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: VS1 Threat Modeling
        type: http-request
        url: '{{#env.OPENCTI_MCP_URL#}}/query'
        variables: []
      height: 142
      id: call-vs1
      position:
        x: 760
        y: -56
      positionAbsolute:
        x: 760
        y: -56
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_json: str) -> dict:\n    payload =\
          \ json.loads(response_json)\n    item = (payload.get(\"items\") or [{}])[0]\n\
          \    target_roles = item.get(\"target_roles\") or []\n    return {\n   \
          \   \"risk_object\": str(item.get(\"risk_object\") or \"待识别风险对象\"),\n  \
          \      \"scene_type\": str(item.get(\"scene_type\") or \"待分析\"),\n     \
          \   \"severity\": str(item.get(\"severity\") or \"unknown\"),\n        \"\
          priority\": str(item.get(\"priority\") or \"P4\"),\n        \"task_status\"\
          : str(item.get(\"task_status\") or \"待处理\"),\n        \"name\": str(item.get(\"\
          name\") or \"未命名任务\"),\n      \"primary_asset\": str(item.get(\"primary_asset\"\
          ) or \"待补充资产\"),\n      \"deployment_scope\": str(item.get(\"deployment_scope\"\
          ) or \"待补充部署范围\"),\n      \"owner_team\": str(item.get(\"owner_team\") or\
          \ \"待分配团队\"),\n      \"business_domain\": str(item.get(\"business_domain\"\
          ) or \"待补充业务域\"),\n      \"business_criticality\": str(item.get(\"business_criticality\"\
          ) or \"待评估\"),\n      \"execution_window\": str(item.get(\"execution_window\"\
          ) or \"待确认\"),\n        \"business_impact\": str(item.get(\"business_impact\"\
          ) or \"待业务复核\"),\n        \"target_roles_text\": \"、\".join(str(role) for\
          \ role in target_roles) if target_roles else \"情报分析师\",\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          business_criticality:
            children: null
            type: string
          business_domain:
            children: null
            type: string
          business_impact:
            children: null
            type: string
          deployment_scope:
            children: null
            type: string
          execution_window:
            children: null
            type: string
          name:
            children: null
            type: string
          owner_team:
            children: null
            type: string
          primary_asset:
            children: null
            type: string
          priority:
            children: null
            type: string
          risk_object:
            children: null
            type: string
          scene_type:
            children: null
            type: string
          severity:
            children: null
            type: string
          target_roles_text:
            children: null
            type: string
          task_status:
            children: null
            type: string
        title: Parse VS1 Response
        type: code
        variables:
        - value_selector:
          - call-vs1
          - body
          variable: response_json
      height: 52
      id: parse_vs1
      position:
        x: 950
        y: 0
      positionAbsolute:
        x: 950
        y: 0
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"object_id":"{{#start-node.opencti_object_id#}}","object_type":"{{#start-node.opencti_object_type#}}","projection_profile":"analysis","fields":["risk_object","scene_type","severity","priority","task_status","business_impact","target_roles","primary_asset","deployment_scope","owner_team","business_domain","business_criticality","execution_window"],"include_relationships":true,"relationship_depth":1}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: VS2 Incident Response
        type: http-request
        url: '{{#env.OPENCTI_MCP_URL#}}/query'
        variables: []
      height: 142
      id: call-vs2
      position:
        x: 760
        y: 100
      positionAbsolute:
        x: 760
        y: 100
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_json: str) -> dict:\n    payload =\
          \ json.loads(response_json)\n    item = (payload.get(\"items\") or [{}])[0]\n\
          \    target_roles = item.get(\"target_roles\") or []\n    return {\n   \
          \   \"risk_object\": str(item.get(\"risk_object\") or \"待识别风险对象\"),\n  \
          \      \"scene_type\": str(item.get(\"scene_type\") or \"待分析\"),\n     \
          \   \"severity\": str(item.get(\"severity\") or \"unknown\"),\n        \"\
          priority\": str(item.get(\"priority\") or \"P4\"),\n        \"task_status\"\
          : str(item.get(\"task_status\") or \"待处理\"),\n        \"name\": str(item.get(\"\
          name\") or \"未命名任务\"),\n      \"primary_asset\": str(item.get(\"primary_asset\"\
          ) or \"待补充资产\"),\n      \"deployment_scope\": str(item.get(\"deployment_scope\"\
          ) or \"待补充部署范围\"),\n      \"owner_team\": str(item.get(\"owner_team\") or\
          \ \"待分配团队\"),\n      \"business_domain\": str(item.get(\"business_domain\"\
          ) or \"待补充业务域\"),\n      \"business_criticality\": str(item.get(\"business_criticality\"\
          ) or \"待评估\"),\n      \"execution_window\": str(item.get(\"execution_window\"\
          ) or \"待确认\"),\n        \"business_impact\": str(item.get(\"business_impact\"\
          ) or \"待业务复核\"),\n        \"target_roles_text\": \"、\".join(str(role) for\
          \ role in target_roles) if target_roles else \"情报分析师\",\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          business_criticality:
            children: null
            type: string
          business_domain:
            children: null
            type: string
          business_impact:
            children: null
            type: string
          deployment_scope:
            children: null
            type: string
          execution_window:
            children: null
            type: string
          name:
            children: null
            type: string
          owner_team:
            children: null
            type: string
          primary_asset:
            children: null
            type: string
          priority:
            children: null
            type: string
          risk_object:
            children: null
            type: string
          scene_type:
            children: null
            type: string
          severity:
            children: null
            type: string
          target_roles_text:
            children: null
            type: string
          task_status:
            children: null
            type: string
        title: Parse VS2 Response
        type: code
        variables:
        - value_selector:
          - call-vs2
          - body
          variable: response_json
      height: 52
      id: parse_vs2
      position:
        x: 950
        y: 100
      positionAbsolute:
        x: 950
        y: 100
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"object_id":"{{#start-node.opencti_object_id#}}","object_type":"{{#start-node.opencti_object_type#}}","projection_profile":"notification","fields":["risk_object","scene_type","severity","priority","task_status","business_impact","target_roles","primary_asset","deployment_scope","owner_team","business_domain","business_criticality","execution_window"],"include_relationships":false}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: VS3 Vulnerability Intelligence
        type: http-request
        url: '{{#env.OPENCTI_MCP_URL#}}/query'
        variables: []
      height: 142
      id: call-vs3
      position:
        x: 760
        y: 200
      positionAbsolute:
        x: 760
        y: 200
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_json: str) -> dict:\n    payload =\
          \ json.loads(response_json)\n    item = (payload.get(\"items\") or [{}])[0]\n\
          \    target_roles = item.get(\"target_roles\") or []\n    return {\n   \
          \   \"risk_object\": str(item.get(\"risk_object\") or \"待识别风险对象\"),\n  \
          \      \"scene_type\": str(item.get(\"scene_type\") or \"待分析\"),\n     \
          \   \"severity\": str(item.get(\"severity\") or \"unknown\"),\n        \"\
          priority\": str(item.get(\"priority\") or \"P4\"),\n        \"task_status\"\
          : str(item.get(\"task_status\") or \"待处理\"),\n        \"name\": str(item.get(\"\
          name\") or \"未命名任务\"),\n      \"primary_asset\": str(item.get(\"primary_asset\"\
          ) or \"待补充资产\"),\n      \"deployment_scope\": str(item.get(\"deployment_scope\"\
          ) or \"待补充部署范围\"),\n      \"owner_team\": str(item.get(\"owner_team\") or\
          \ \"待分配团队\"),\n      \"business_domain\": str(item.get(\"business_domain\"\
          ) or \"待补充业务域\"),\n      \"business_criticality\": str(item.get(\"business_criticality\"\
          ) or \"待评估\"),\n      \"execution_window\": str(item.get(\"execution_window\"\
          ) or \"待确认\"),\n        \"business_impact\": str(item.get(\"business_impact\"\
          ) or \"待业务复核\"),\n        \"target_roles_text\": \"、\".join(str(role) for\
          \ role in target_roles) if target_roles else \"情报分析师\",\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          business_criticality:
            children: null
            type: string
          business_domain:
            children: null
            type: string
          business_impact:
            children: null
            type: string
          deployment_scope:
            children: null
            type: string
          execution_window:
            children: null
            type: string
          name:
            children: null
            type: string
          owner_team:
            children: null
            type: string
          primary_asset:
            children: null
            type: string
          priority:
            children: null
            type: string
          risk_object:
            children: null
            type: string
          scene_type:
            children: null
            type: string
          severity:
            children: null
            type: string
          target_roles_text:
            children: null
            type: string
          task_status:
            children: null
            type: string
        title: Parse VS3 Response
        type: code
        variables:
        - value_selector:
          - call-vs3
          - body
          variable: response_json
      height: 52
      id: parse_vs3
      position:
        x: 950
        y: 200
      positionAbsolute:
        x: 950
        y: 200
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"object_id":"{{#start-node.opencti_object_id#}}","object_type":"{{#start-node.opencti_object_type#}}","projection_profile":"graph","fields":["risk_object","scene_type","severity","priority","task_status","business_impact","target_roles","primary_asset","deployment_scope","owner_team","business_domain","business_criticality","execution_window"],"include_relationships":true,"relationship_depth":1}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: VS4 Monitoring Rules
        type: http-request
        url: '{{#env.OPENCTI_MCP_URL#}}/query'
        variables: []
      height: 142
      id: call-vs4
      position:
        x: 760
        y: 358
      positionAbsolute:
        x: 760
        y: 358
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_json: str) -> dict:\n    payload =\
          \ json.loads(response_json)\n    item = (payload.get(\"items\") or [{}])[0]\n\
          \    target_roles = item.get(\"target_roles\") or []\n    return {\n   \
          \   \"risk_object\": str(item.get(\"risk_object\") or \"待识别风险对象\"),\n  \
          \      \"scene_type\": str(item.get(\"scene_type\") or \"待分析\"),\n     \
          \   \"severity\": str(item.get(\"severity\") or \"unknown\"),\n        \"\
          priority\": str(item.get(\"priority\") or \"P4\"),\n        \"task_status\"\
          : str(item.get(\"task_status\") or \"待处理\"),\n        \"name\": str(item.get(\"\
          name\") or \"未命名任务\"),\n      \"primary_asset\": str(item.get(\"primary_asset\"\
          ) or \"待补充资产\"),\n      \"deployment_scope\": str(item.get(\"deployment_scope\"\
          ) or \"待补充部署范围\"),\n      \"owner_team\": str(item.get(\"owner_team\") or\
          \ \"待分配团队\"),\n      \"business_domain\": str(item.get(\"business_domain\"\
          ) or \"待补充业务域\"),\n      \"business_criticality\": str(item.get(\"business_criticality\"\
          ) or \"待评估\"),\n      \"execution_window\": str(item.get(\"execution_window\"\
          ) or \"待确认\"),\n        \"business_impact\": str(item.get(\"business_impact\"\
          ) or \"待业务复核\"),\n        \"target_roles_text\": \"、\".join(str(role) for\
          \ role in target_roles) if target_roles else \"情报分析师\",\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          business_criticality:
            children: null
            type: string
          business_domain:
            children: null
            type: string
          business_impact:
            children: null
            type: string
          deployment_scope:
            children: null
            type: string
          execution_window:
            children: null
            type: string
          name:
            children: null
            type: string
          owner_team:
            children: null
            type: string
          primary_asset:
            children: null
            type: string
          priority:
            children: null
            type: string
          risk_object:
            children: null
            type: string
          scene_type:
            children: null
            type: string
          severity:
            children: null
            type: string
          target_roles_text:
            children: null
            type: string
          task_status:
            children: null
            type: string
        title: Parse VS4 Response
        type: code
        variables:
        - value_selector:
          - call-vs4
          - body
          variable: response_json
      height: 52
      id: parse_vs4
      position:
        x: 950
        y: 300
      positionAbsolute:
        x: 950
        y: 300
      type: custom
      width: 242
    - data:
        cases:
        - case_id: approved
          conditions:
          - comparison_operator: '='
            id: vs4-manual-approved-en
            value: approved
            varType: string
            variable_selector:
            - start-node
            - manual_review_decision
          - comparison_operator: '='
            id: vs4-manual-approved-cn
            value: 通过
            varType: string
            variable_selector:
            - start-node
            - manual_review_decision
          logical_operator: or
        desc: ''
        title: VS4 Manual Review Gate
        type: if-else
      height: 220
      id: vs4-manual-review
      position:
        x: 1119
        y: 360
      positionAbsolute:
        x: 1119
        y: 360
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"template_type":"monitoring-rule-online","message_title":"VS4 监控规则待上线复核","message_summary":"{{#parse_vs4.scene_type#}}/{{#parse_vs4.severity#}}/{{#parse_vs4.priority#}}","business_impact":"{{#parse_vs4.business_impact#}}","recommended_action":"请基于人工复核结果执行规则上线与回查。","event_type":"ai4sec.vs4.monitoring-rule-online.v1","object_refs":["{{#parse_vs4.risk_object#}}"],"primary_role":"安全运营负责人","approver_role":"业务安全负责人","severity_tier":"high","channels":["email"],"primary_recipients":["{{#start-node.notify_primary_recipient#}}"]}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 200
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: Notify VS4 Stakeholders
        type: http-request
        url: '{{#env.NOTIFICATION_MCP_URL#}}/dispatch'
        variables: []
      height: 142
      id: notify-vs4
      position:
        x: 1310
        y: 360
      positionAbsolute:
        x: 1310
        y: 360
      selected: false
      type: custom
      width: 242
    - data:
        answer: '已受理任务，首屏分流信息如下：

          - 场景类型：{{#parse_vs1.scene_type#}}

          - 严重度：{{#parse_vs1.severity#}}

          - 优先级：{{#parse_vs1.priority#}}

          - 待办状态：{{#parse_vs1.task_status#}}

          - 任务对象：{{#parse_vs1.name#}}

          - 关键资产：{{#parse_vs1.primary_asset#}}

          - 部署范围：{{#parse_vs1.deployment_scope#}}

          - 责任团队：{{#parse_vs1.owner_team#}}

          - 业务域：{{#parse_vs1.business_domain#}}

          - 业务关键度：{{#parse_vs1.business_criticality#}}

          - 当前窗口：{{#parse_vs1.execution_window#}}

          - 业务影响：{{#parse_vs1.business_impact#}}

          - 目标角色：{{#parse_vs1.target_roles_text#}}


          可继续进入发布判定、控制缺口复核和证据核验。

          '
        desc: ''
        title: VS1 Output
        type: answer
        variables: []
      height: 539
      id: answer-vs1
      position:
        x: 1303
        y: -124
      positionAbsolute:
        x: 1303
        y: -124
      selected: false
      type: custom
      width: 242
    - data:
        answer: '已受理任务，首屏分流信息如下：

          - 场景类型：{{#parse_vs2.scene_type#}}

          - 严重度：{{#parse_vs2.severity#}}

          - 优先级：{{#parse_vs2.priority#}}

          - 待办状态：{{#parse_vs2.task_status#}}

          - 任务对象：{{#parse_vs2.name#}}

          - 关键资产：{{#parse_vs2.primary_asset#}}

          - 部署范围：{{#parse_vs2.deployment_scope#}}

          - 责任团队：{{#parse_vs2.owner_team#}}

          - 业务域：{{#parse_vs2.business_domain#}}

          - 业务关键度：{{#parse_vs2.business_criticality#}}

          - 当前窗口：{{#parse_vs2.execution_window#}}

          - 业务影响：{{#parse_vs2.business_impact#}}

          - 目标角色：{{#parse_vs2.target_roles_text#}}


          可继续进入事件分级、响应动作编排和证据核验。

          '
        desc: ''
        title: VS2 Output
        type: answer
        variables: []
      height: 539
      id: answer-vs2
      position:
        x: 1234
        y: 29
      positionAbsolute:
        x: 1234
        y: 29
      selected: false
      type: custom
      width: 242
    - data:
        answer: '已受理任务，首屏分流信息如下：

          - 场景类型：{{#parse_vs3.scene_type#}}

          - 严重度：{{#parse_vs3.severity#}}

          - 优先级：{{#parse_vs3.priority#}}

          - 待办状态：{{#parse_vs3.task_status#}}

          - 映射链路：{{#parse_vs3.risk_object#}} -> {{#parse_vs3.primary_asset#}} -> {{#parse_vs3.deployment_scope#}}
          -> {{#parse_vs3.owner_team#}}

          - 任务对象：{{#parse_vs3.name#}}

          - 关键资产：{{#parse_vs3.primary_asset#}}

          - 部署范围：{{#parse_vs3.deployment_scope#}}

          - 责任团队：{{#parse_vs3.owner_team#}}

          - 业务域：{{#parse_vs3.business_domain#}}

          - 业务关键度：{{#parse_vs3.business_criticality#}}

          - 当前窗口：{{#parse_vs3.execution_window#}}

          - 业务影响：{{#parse_vs3.business_impact#}}

          - 目标角色：{{#parse_vs3.target_roles_text#}}


          可继续进入影响范围确认、窗口期建议和决策摘要生成。

          '
        desc: ''
        title: VS3 Output
        type: answer
        variables: []
      height: 631
      id: answer-vs3
      position:
        x: 1274
        y: 267
      positionAbsolute:
        x: 1274
        y: 267
      selected: false
      type: custom
      width: 242
    - data:
        answer: '已受理任务，首屏分流信息如下：

          - 场景类型：{{#parse_vs4.scene_type#}}

          - 严重度：{{#parse_vs4.severity#}}

          - 优先级：{{#parse_vs4.priority#}}

          - 待办状态：{{#parse_vs4.task_status#}}

          - 映射链路：{{#parse_vs4.risk_object#}} -> {{#parse_vs4.primary_asset#}} -> {{#parse_vs4.deployment_scope#}}
          -> {{#parse_vs4.owner_team#}}

          - 任务对象：{{#parse_vs4.name#}}

          - 关键资产：{{#parse_vs4.primary_asset#}}

          - 部署范围：{{#parse_vs4.deployment_scope#}}

          - 责任团队：{{#parse_vs4.owner_team#}}

          - 业务域：{{#parse_vs4.business_domain#}}

          - 业务关键度：{{#parse_vs4.business_criticality#}}

          - 当前窗口：{{#parse_vs4.execution_window#}}

          - 业务影响：{{#parse_vs4.business_impact#}}

          - 目标角色：{{#parse_vs4.target_roles_text#}}


          可继续进入规则草案确认、上线动作和命中反馈校准。

          '
        desc: ''
        title: VS4 Output
        type: answer
        variables: []
      height: 631
      id: answer-vs4
      position:
        x: 1119
        y: 511
      positionAbsolute:
        x: 1119
        y: 511
      selected: false
      type: custom
      width: 242
    - data:
        answer: '当前输入未命中预置场景分流规则，因此没有自动生成任务。


          请改用以下任一表达后重试：

          - 威胁建模：包含“威胁建模”“上线前”“建模结果”“威胁结论”或“发布建议”

          - 运营响应：包含“响应”“告警”“横向移动”或“任务受理”

          - 漏洞影响：包含“漏洞”或“企业影响”

          - 环境监控：包含“监控”或“环境监控任务”


          如需精确路由，也可以直接在入口选择 VS1、VS2、VS3 或 VS4。

          '
        desc: ''
        title: Router Fallback
        type: answer
        variables: []
      height: 228
      id: answer_router_fallback
      position:
        x: 760
        y: 661
      positionAbsolute:
        x: 760
        y: 661
      selected: true
      type: custom
      width: 242
    - data:
        answer: '当前已命中 VS4 场景，但尚未通过人工复核门控，通知与后续动作未执行。


          请在入口变量中将 `manual_review_decision` 设置为 `approved`（或“通过”）后重试。

          '
        desc: ''
        title: VS4 Manual Review Pending
        type: answer
        variables: []
      height: 168
      id: answer-vs4-blocked
      position:
        x: 1310
        y: 566
      positionAbsolute:
        x: 1310
        y: 566
      selected: false
      type: custom
      width: 242
    viewport:
      x: -163
      y: 174
      zoom: 1
  rag_pipeline_variables: []
