DifyAgentWorkflow/ai4sec_threat_modeling_workflow.yaml
app:
  description: Standalone VS1 threat-modeling workflow that resolves a report from OpenCTI,
    filters STIX 2.1 evidence, invokes a real LLM with the ArchitectureID 1437 schema,
    and exposes the final JSON result in-session with a download link.
  icon: 🧭
  icon_background: '#EAF2FF'
  mode: advanced-chat
  name: AI4SEC Threat Modeling Workflow
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.2.0
metadata:
  webhook:
    auth_required: false
    entry_mode: dify-native-workflow
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: env-opencti-mcp-url-threat-model
    name: OPENCTI_MCP_URL
    selector:
    - env
    - OPENCTI_MCP_URL
    value: http://host.docker.internal:8101
    value_type: string
  features:
    file_upload:
      enabled: false
    opening_statement: 请输入报告名称或报告 ID，我会优先做精确匹配，回查真实 OpenCTI 数据，并执行一次真实 LLM 威胁建模分析。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 用报告名称 vs1-payment-threat-model 发起一次威胁建模
    - 用报告名称 vs4-bola-monitoring-rule 分析并下载 JSON
    - 用报告 ID report--cdd45eb6-f1cd-4f17-82b3-ac4bc03fcd58 发起一次威胁建模
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
      id: edge-start-resolve_report_ref
      source: start_node
      sourceHandle: source
      target: resolve_report_ref
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: edge-resolve-query_threat_model_report
      source: resolve_report_ref
      sourceHandle: source
      target: query_threat_model_report
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: llm
      id: edge-query-llm_threat_model
      source: query_threat_model_report
      sourceHandle: source
      target: llm_threat_model
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: edge-llm-format_threat_model
      source: llm_threat_model
      sourceHandle: source
      target: format_threat_model
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: edge-format-answer_threat_model
      source: format_threat_model
      sourceHandle: source
      target: answer_threat_model
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: Threat Modeling Input
        type: start
        variables:
        - label: report_ref
          max_length: 256
          required: false
          type: text-input
          variable: report_ref
        - label: analysis_focus
          max_length: 512
          required: false
          type: paragraph
          variable: analysis_focus
      height: 116
      id: start_node
      position:
        x: 30
        y: 140
      positionAbsolute:
        x: 30
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: |
          def main(report_ref: str | None = None, sys_query: str | None = None) -> dict:
              # // @ArchitectureID: 1436
              explicit_ref = str(report_ref or "").strip()
              query_ref = str(sys_query or "").strip()
              effective_ref = explicit_ref or query_ref
              if not effective_ref:
                  raise ValueError("请直接输入报告名称或报告 ID。")
              return {"report_ref": effective_ref}
        code_language: python3
        desc: ''
        selected: false
        outputs:
          report_ref:
            children: null
            type: string
        title: Resolve Report Reference
        type: code
        variables:
        - value_selector:
          - start_node
          - report_ref
          variable: report_ref
        - value_selector:
          - start_node
          - sys
          - query
          variable: sys_query
      height: 52
      id: resolve_report_ref
      position:
        x: 330
        y: 140
      positionAbsolute:
        x: 330
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{"report_ref":"{{#resolve_report_ref.report_ref#}}"}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 10
          max_read_timeout: 600
          max_write_timeout: 600
          read: 600
          write: 600
        title: Query Threat Model Report
        type: http-request
        url: '{{#env.OPENCTI_MCP_URL#}}/query/threat-model-report'
        variables: []
        selected: false
      height: 142
      id: query_threat_model_report
      position:
        x: 630
        y: 122
      positionAbsolute:
        x: 630
        y: 122
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: Assistant
            user: Human
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - edition_type: basic
          role: system
          text: |
            You are the dedicated AI4SEC threat modeling engine for ArchitectureID 1437.
            Build a single JSON object only.

            Mandatory rules:
            1. The methodology value MUST be exactly TARA+STRIDE.
            2. Use only facts grounded in the MCP response JSON. Do not fabricate assets, controls, or observables that are unsupported by the evidence.
            3. Keep all object names and descriptions in English.
            4. detection_indicators[].indicator.pattern_type MUST be exactly EQL when you emit detection indicators.
            5. simulated_attack_paths[].path_steps must be natural-language sentence strings in the style:
               when <preconditions>, <subject> <predicate> <object>, lead to <result>.
            6. Return the schema-complete JSON even when some arrays are empty.
            7. Avoid duplicate objects or semantically duplicated items across sections.
            8. If the optional analysis focus is present, reflect it in threat_scenarios and security_goals.
        - edition_type: basic
          role: user
          text: |
            Produce the final threat model from this OpenCTI MCP response.

            Optional analysis focus:
            {{#start_node.analysis_focus#}}

            MCP response JSON:
            {{#query_threat_model_report.body#}}
        reasoning_format: separated
        structured_output:
          schema:
            additionalProperties: false
            properties:
              attack_patterns:
                items:
                  properties:
                    category:
                      type: string
                    description:
                      type: string
                    id:
                      type: string
                    impact:
                      type: string
                    kill_chain_phases:
                      items:
                        type: object
                      type: array
                    likelihood:
                      type: string
                    name:
                      type: string
                    risk_level:
                      type: string
                    stride:
                      type: string
                  required:
                  - id
                  - name
                  - description
                  - category
                  - risk_level
                  - likelihood
                  - impact
                  - stride
                  - kill_chain_phases
                  type: object
                type: array
              course_of_actions:
                items:
                  properties:
                    description:
                      type: string
                    id:
                      type: string
                    mitigates_attack_pattern_ids:
                      items:
                        type: string
                      type: array
                    name:
                      type: string
                    type:
                      enum:
                      - course-of-action
                      type: string
                  required:
                  - id
                  - type
                  - name
                  - description
                  - mitigates_attack_pattern_ids
                  type: object
                type: array
              detection_indicators:
                items:
                  properties:
                    indicates_attack_pattern_ids:
                      items:
                        type: string
                      type: array
                    indicator:
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        pattern:
                          type: string
                        pattern_type:
                          enum:
                          - EQL
                          type: string
                        type:
                          enum:
                          - indicator
                          type: string
                        x_ecs_events:
                          items:
                            type: object
                          type: array
                      required:
                      - id
                      - type
                      - name
                      - pattern_type
                      - pattern
                      type: object
                  required:
                  - indicator
                  - indicates_attack_pattern_ids
                  type: object
                type: array
              methodology:
                enum:
                - TARA+STRIDE
                type: string
              observables:
                items:
                  type: object
                type: array
              security_goals:
                items:
                  properties:
                    description:
                      type: string
                    goal_type:
                      type: string
                    id:
                      type: string
                    name:
                      type: string
                    priority:
                      type: string
                  required:
                  - id
                  - name
                  - goal_type
                  - priority
                  - description
                  type: object
                type: array
              simulated_attack_paths:
                items:
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    object_refs:
                      items:
                        type: string
                      type: array
                    path_steps:
                      items:
                        type: string
                      type: array
                    type:
                      enum:
                      - report
                      type: string
                  required:
                  - id
                  - type
                  - name
                  - path_steps
                  type: object
                type: array
              summary:
                properties:
                  attack_patterns:
                    type: integer
                  course_of_actions:
                    type: integer
                  detection_indicators:
                    type: integer
                  observables:
                    type: integer
                  risk_evaluation:
                    type: integer
                  security_goals:
                    type: integer
                  simulated_attack_paths:
                    type: integer
                  targets:
                    type: integer
                  threat_scenarios:
                    type: integer
                  total_objects:
                    type: integer
                required:
                - total_objects
                - attack_patterns
                - targets
                - simulated_attack_paths
                - observables
                - course_of_actions
                - detection_indicators
                - threat_scenarios
                - risk_evaluation
                - security_goals
                type: object
              tara_stride_outputs:
                properties:
                  risk_evaluation:
                    items:
                      type: object
                    type: array
                  threat_scenarios:
                    items:
                      type: object
                    type: array
                required:
                - threat_scenarios
                - risk_evaluation
                type: object
              targets:
                items:
                  properties:
                    asset_name:
                      type: string
                    attack_pattern_id:
                      type: string
                    intrinsic_value:
                      type: string
                    intrinsic_value_dimensions:
                      items:
                        type: string
                      type: array
                    intrinsic_value_reason:
                      type: string
                  required:
                  - attack_pattern_id
                  - asset_name
                  - intrinsic_value
                  - intrinsic_value_dimensions
                  - intrinsic_value_reason
                  type: object
                type: array
            required:
            - methodology
            - attack_patterns
            - targets
            - simulated_attack_paths
            - observables
            - course_of_actions
            - detection_indicators
            - tara_stride_outputs
            - security_goals
            - summary
            type: object
        structured_output_enabled: true
        title: Generate Threat Model
        type: llm
        vision:
          enabled: false
        selected: false
      height: 84
      id: llm_threat_model
      position:
        x: 950
        y: 126
      positionAbsolute:
        x: 950
        y: 126
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    - data:
        code: |
          import json
          import urllib.parse

          def main(response_json: str, analysis_json_raw: str) -> dict:
              # // @ArchitectureID: 1436
              payload = json.loads(response_json)
              matched_report = payload.get("matched_report") or {}
              analysis = json.loads(analysis_json_raw)
              analysis_json = json.dumps(analysis, ensure_ascii=False, indent=2)
              download_uri = "data:application/json;charset=utf-8," + urllib.parse.quote(analysis_json)
              summary = analysis.get("summary") or {}
              return {
                  "report_name": str(matched_report.get("report_name") or ""),
                  "report_id": str(matched_report.get("report_id") or ""),
                  "match_strategy": str(matched_report.get("match_strategy") or "unknown"),
                  "download_filename": str(payload.get("download_filename") or "threat-model.json"),
                  "analysis_json": analysis_json,
                  "download_markdown": f"[下载 JSON 结果]({download_uri})",
                  "summary_text": (
                      f"Generated {summary.get('attack_patterns', 0)} attack patterns, "
                      f"{summary.get('course_of_actions', 0)} mitigations, "
                      f"{summary.get('threat_scenarios', 0)} threat scenarios, and "
                      f"{summary.get('detection_indicators', 0)} detection indicators."
                  ),
              }
        code_language: python3
        desc: ''
        selected: false
        outputs:
          analysis_json:
            children: null
            type: string
          download_filename:
            children: null
            type: string
          download_markdown:
            children: null
            type: string
          match_strategy:
            children: null
            type: string
          report_id:
            children: null
            type: string
          report_name:
            children: null
            type: string
          summary_text:
            children: null
            type: string
        title: Format Threat Model Result
        type: code
        variables:
        - value_selector:
          - query_threat_model_report
          - body
          variable: response_json
        - value_selector:
          - llm_threat_model
          - text
          variable: analysis_json_raw
      height: 52
      id: format_threat_model
      position:
        x: 1280
        y: 140
      positionAbsolute:
        x: 1280
        y: 140
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 250
    - data:
        answer: |
          已完成 VS1 威胁建模分析。

          - 报告名称：{{#format_threat_model.report_name#}}
          - 报告 ID：{{#format_threat_model.report_id#}}
          - 匹配策略：{{#format_threat_model.match_strategy#}}
          - 下载文件名：{{#format_threat_model.download_filename#}}
          - 摘要：{{#format_threat_model.summary_text#}}

          {{#format_threat_model.download_markdown#}}

          结构化结果如下：

          ```json
          {{#format_threat_model.analysis_json#}}
          ```
        desc: ''
        selected: false
        title: Threat Model Output
        type: answer
        variables: []
      height: 430
      id: answer_threat_model
      position:
        x: 1580
        y: 82
      positionAbsolute:
        x: 1580
        y: 82
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 260
    viewport:
      x: 68
      y: 48
      zoom: 0.72
  rag_pipeline_variables: []
