DifyAgentWorkflow/ai4sec_unified_workflow.yaml
app:
  description: Unified AI4SEC workflow that routes four value-stream scenarios from one Dify asset.
  icon: shield
  icon_background: '#E7F6EC'
  mode: advanced-chat
  name: AI4SEC Unified Workflow
  use_icon_as_answer_icon: false
kind: app
version: 0.3.0
workflow:
  conversation_variables:
    - name: selected_flow
      value: ''
      value_type: string
    - name: routing_reason
      value: ''
      value_type: string
  environment_variables:
    - name: OPENCTI_MCP_URL
      value: http://host.docker.internal:8101
      value_type: string
    - name: NOTIFICATION_MCP_URL
      value: http://host.docker.internal:8102
      value_type: string
  features:
    opening_statement: 请选择业务流程，或直接描述你的安全情报需求，我会自动分流到 VS1/VS2/VS3/VS4。
    suggested_questions:
      - 帮我做一次发布前威胁建模
      - 分析一条横向移动告警并生成响应动作
      - 评估外部漏洞对企业的影响
      - 生成一条环境感知监控规则
  graph:
    edges:
      - id: edge-start-router
        source: start-node
        sourceHandle: source
        target: route-intent
        targetHandle: target
      - id: edge-router-vs1
        source: route-intent
        sourceHandle: vs1
        target: call-vs1
        targetHandle: target
      - id: edge-router-vs2
        source: route-intent
        sourceHandle: vs2
        target: call-vs2
        targetHandle: target
      - id: edge-router-vs3
        source: route-intent
        sourceHandle: vs3
        target: call-vs3
        targetHandle: target
      - id: edge-router-vs4
        source: route-intent
        sourceHandle: vs4
        target: call-vs4
        targetHandle: target
      - id: edge-vs1-answer
        source: call-vs1
        sourceHandle: source
        target: answer-vs1
        targetHandle: target
      - id: edge-vs2-answer
        source: call-vs2
        sourceHandle: source
        target: answer-vs2
        targetHandle: target
      - id: edge-vs3-answer
        source: call-vs3
        sourceHandle: source
        target: answer-vs3
        targetHandle: target
      - id: edge-vs4-answer
        source: call-vs4
        sourceHandle: source
        target: answer-vs4
        targetHandle: target
    nodes:
      - id: start-node
        position:
          x: 100
          y: 120
        data:
          desc: ''
          title: Unified Entry
          type: start
          variables:
            - label: entry_mode
              max_length: 64
              required: false
              type: text-input
              variable: entry_mode
            - label: user_request
              max_length: 2000
              required: false
              type: paragraph
              variable: user_request
            - label: selected_flow
              options:
                - VS1
                - VS2
                - VS3
                - VS4
              required: false
              type: select
              variable: selected_flow
      - id: route-intent
        position:
          x: 420
          y: 120
        data:
          desc: ''
          title: Route By Menu Or Intent
          type: if-else
          cases:
            - case_id: vs1
              logical_operator: or
              conditions:
                - id: vs1-selected-flow
                  varType: string
                  variable_selector:
                    - start-node
                    - selected_flow
                  comparison_operator: '='
                  value: VS1
                - id: vs1-user-request
                  varType: string
                  variable_selector:
                    - start-node
                    - user_request
                  comparison_operator: contains
                  value: 威胁建模
            - case_id: vs2
              logical_operator: or
              conditions:
                - id: vs2-selected-flow
                  varType: string
                  variable_selector:
                    - start-node
                    - selected_flow
                  comparison_operator: '='
                  value: VS2
                - id: vs2-user-request
                  varType: string
                  variable_selector:
                    - start-node
                    - user_request
                  comparison_operator: contains
                  value: 响应
            - case_id: vs3
              logical_operator: or
              conditions:
                - id: vs3-selected-flow
                  varType: string
                  variable_selector:
                    - start-node
                    - selected_flow
                  comparison_operator: '='
                  value: VS3
                - id: vs3-user-request
                  varType: string
                  variable_selector:
                    - start-node
                    - user_request
                  comparison_operator: contains
                  value: 漏洞
            - case_id: vs4
              logical_operator: or
              conditions:
                - id: vs4-selected-flow
                  varType: string
                  variable_selector:
                    - start-node
                    - selected_flow
                  comparison_operator: '='
                  value: VS4
                - id: vs4-user-request
                  varType: string
                  variable_selector:
                    - start-node
                    - user_request
                  comparison_operator: contains
                  value: 监控
      - id: call-vs1
        position:
          x: 760
          y: 0
        data:
          desc: ''
          title: VS1 Threat Modeling
          type: http-request
          variables: []
          method: post
          url: '{{#env.OPENCTI_MCP_URL#}}/query'
          authorization:
            type: no-auth
            config: null
          headers: ''
          params: ''
          body:
            type: json
            data:
              - type: text
                value: '{"object_id":"attack-pattern--vs1","projection_profile":"analysis","fields":["scene_type","severity","priority","task_status","business_impact","target_roles"],"include_relationships":true,"relationship_depth":1}'
          ssl_verify: true
          timeout:
            connect: 10
            read: 600
            write: 600
            max_connect_timeout: 10
            max_read_timeout: 600
            max_write_timeout: 600
          retry_config:
            retry_enabled: true
            max_retries: 3
            retry_interval: 100
      - id: call-vs2
        position:
          x: 760
          y: 100
        data:
          desc: ''
          title: VS2 Incident Response
          type: http-request
          variables: []
          method: post
          url: '{{#env.OPENCTI_MCP_URL#}}/query'
          authorization:
            type: no-auth
            config: null
          headers: ''
          params: ''
          body:
            type: json
            data:
              - type: text
                value: '{"object_id":"incident--vs2","projection_profile":"analysis","fields":["scene_type","severity","priority","task_status","business_impact","target_roles"],"include_relationships":true,"relationship_depth":1}'
          ssl_verify: true
          timeout:
            connect: 10
            read: 600
            write: 600
            max_connect_timeout: 10
            max_read_timeout: 600
            max_write_timeout: 600
          retry_config:
            retry_enabled: true
            max_retries: 3
            retry_interval: 100
      - id: call-vs3
        position:
          x: 760
          y: 200
        data:
          desc: ''
          title: VS3 Vulnerability Intelligence
          type: http-request
          variables: []
          method: post
          url: '{{#env.OPENCTI_MCP_URL#}}/query'
          authorization:
            type: no-auth
            config: null
          headers: ''
          params: ''
          body:
            type: json
            data:
              - type: text
                value: '{"object_id":"vulnerability--vs3","projection_profile":"notification","fields":["scene_type","priority","task_status"],"include_relationships":false}'
          ssl_verify: true
          timeout:
            connect: 10
            read: 600
            write: 600
            max_connect_timeout: 10
            max_read_timeout: 600
            max_write_timeout: 600
          retry_config:
            retry_enabled: true
            max_retries: 3
            retry_interval: 100
      - id: call-vs4
        position:
          x: 760
          y: 300
        data:
          desc: ''
          title: VS4 Monitoring Rules
          type: http-request
          variables: []
          method: post
          url: '{{#env.OPENCTI_MCP_URL#}}/query'
          authorization:
            type: no-auth
            config: null
          headers: ''
          params: ''
          body:
            type: json
            data:
              - type: text
                value: '{"object_id":"indicator--vs4","projection_profile":"graph","fields":["scene_type","severity","priority","task_status","business_impact","target_roles"],"include_relationships":true,"relationship_depth":1}'
          ssl_verify: true
          timeout:
            connect: 10
            read: 600
            write: 600
            max_connect_timeout: 10
            max_read_timeout: 600
            max_write_timeout: 600
          retry_config:
            retry_enabled: true
            max_retries: 3
            retry_interval: 100
      - id: answer-vs1
        position:
          x: 1120
          y: 20
        data:
          desc: ''
          title: VS1 Output
          type: answer
          variables: []
          answer: |
            已受理任务，首屏分流信息如下：
            - 场景类型：{{call-vs1.body.items[0].scene_type}}
            - 严重度：{{call-vs1.body.items[0].severity}}
            - 优先级：{{call-vs1.body.items[0].priority}}
            - 待办状态：{{call-vs1.body.items[0].task_status}}
            - 任务对象：{{call-vs1.body.items[0].name}}
            - 业务影响：{{call-vs1.body.items[0].business_impact}}
            - 目标角色：{{call-vs1.body.items[0].target_roles}}

            可继续进入发布判定、控制缺口复核和证据核验。
      - id: answer-vs2
        position:
          x: 1120
          y: 100
        data:
          desc: ''
          title: VS2 Output
          type: answer
          variables: []
          answer: |
            已受理任务，首屏分流信息如下：
            - 场景类型：{{call-vs2.body.items[0].scene_type}}
            - 严重度：{{call-vs2.body.items[0].severity}}
            - 优先级：{{call-vs2.body.items[0].priority}}
            - 待办状态：{{call-vs2.body.items[0].task_status}}
            - 任务对象：{{call-vs2.body.items[0].name}}
            - 业务影响：{{call-vs2.body.items[0].business_impact}}
            - 目标角色：{{call-vs2.body.items[0].target_roles}}

            可继续进入事件分级、响应动作编排和证据核验。
      - id: answer-vs3
        position:
          x: 1120
          y: 180
        data:
          desc: ''
          title: VS3 Output
          type: answer
          variables: []
          answer: |
            已受理任务，首屏分流信息如下：
            - 场景类型：{{call-vs3.body.items[0].scene_type}}
            - 严重度：{{call-vs3.body.items[0].severity}}
            - 优先级：{{call-vs3.body.items[0].priority}}
            - 待办状态：{{call-vs3.body.items[0].task_status}}
            - 任务对象：{{call-vs3.body.items[0].name}}
            - 业务影响：{{call-vs3.body.items[0].business_impact}}
            - 目标角色：{{call-vs3.body.items[0].target_roles}}

            可继续进入影响范围确认、窗口期建议和决策摘要生成。
      - id: answer-vs4
        position:
          x: 1120
          y: 260
        data:
          desc: ''
          title: VS4 Output
          type: answer
          variables: []
          answer: |
            已受理任务，首屏分流信息如下：
            - 场景类型：{{call-vs4.body.items[0].scene_type}}
            - 严重度：{{call-vs4.body.items[0].severity}}
            - 优先级：{{call-vs4.body.items[0].priority}}
            - 待办状态：{{call-vs4.body.items[0].task_status}}
            - 任务对象：{{call-vs4.body.items[0].name}}
            - 业务影响：{{call-vs4.body.items[0].business_impact}}
            - 目标角色：{{call-vs4.body.items[0].target_roles}}

            可继续进入规则草案确认、上线动作和命中反馈校准。
metadata:
  architecture:
    '# @ArchitectureID': '1214'
  webhook:
    path: /webhooks/opencti/threat-intelligence
    auth_required: false
  runtime_tools:
    - DifyAgentWorkflow/tools/ai4sec_runtime_tools.py
